/**
 * Social Bar component style.
 */

.socialBar {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  row-gap: 0.3em;

  @media (--m-viewport) {
    column-gap: 1em;
  }

  @media (--l-viewport) {
    column-gap: 1.25em;
  }
}

.socialBar__Element {
  display: flex;
  align-items: center;
  font-weight: 300;
}
